---
import BaseLayout from '../layouts/BaseLayout.astro';
import { BackgroundTimeline } from '../components/site/BackgroundTimeline';
import { PrinciplesGrid } from '../components/site/PrinciplesGrid';
---
<BaseLayout title="Background – Nick Roth">
  <div class="space-y-20 py-20">
    <BackgroundTimeline client:load />
    <PrinciplesGrid client:load />
  </div>
</BaseLayout>
