---
import BaseLayout from '../layouts/BaseLayout.astro';
import { ContactPanel } from '../components/site/ContactPanel';
---
<BaseLayout title="Contact – Nick Roth">
  <div class="space-y-20 py-20">
    <ContactPanel client:load />
  </div>
</BaseLayout>
